.venv/
.env
__pycache__/
.pytest_cache/
.ruff_cache/
*.py[cod]
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
INF8239_U02_NLP_Proyecto_Base_uv.zip
INF8239_U02_CV_Proyecto_Base_uv.zip
Unidad 02. Manual laboratorios guiados.*
